@media (width: 576px), (max-width: 768px) {
  .home {
    background-image: linear-gradient(to right, #1d976c, #93f9b9);
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;
  }

  .input-small {
    color: #e4e7eb;
    font-family: 'Roboto';
    font-weight: bold;
    width: 20vw;
    padding: 2px;
    background-color: transparent;
    border-color: #ffffff;
    display: flex;
  }

  .input {
    display: none;
  }
}

@media (width: 992px), (min-width: 992px) {
  .home {
    background-image: linear-gradient(to right, #1d976c, #93f9b9);
    height: 100vh;
    display: flex;

    justify-content: flex-start;
    align-items: center;
  }
  .input-small {
    display: none;
  }

  .input {
    color: #e4e7eb;
    font-family: 'Roboto';
    display: flex;
    font-weight: bold;
    width: 20vw;
    padding: 2px;
    background-color: transparent;
    border-color: #ffffff;
  }
}
@media (width: 576px), (max-width: 768px) {
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (width: 992px), (min-width: 992px) {
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    text-align: left;
  }
}

.heading {
  color: #ffffff;
  font-family: 'Roboto';
}

.parag {
  color: #e4e7eb;
  font-family: 'Roboto';
  padding: 0px;
  text-align: left;
}

.input {
  color: #e4e7eb;
  font-family: 'Roboto';
  font-weight: bold;
  width: 20vw;
  padding: 2px;
  background-color: transparent;
  border-color: #ffffff;
}

.paragraph {
  background-color: #ffffff;
  color: #1d976c;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
}

@media (max-width: 768px), (width: 576px) {
  .image-small {
    display: flex;
    background-size: cover;
    height: 25vh;
  }

  .image {
    display: none;
  }
}

@media (min-width: 992px), (width: 992px) {
  .image {
    background-size: cover;
    height: 50vh;
    display: flex;
  }

  .image-small {
    display: none;
  }
}
